@font-face {
    font-family:'OpenSans';
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family:'Caveat';
    src: url(/assets/fonts/Caveat-VariableFont_wght.ttf);
}

:root{
    --white: #d6f2d7;
    --blue: #071a50;
    --red: #e0052d;
    --overlay: rgba(0,0,0,.2);

    /* Sombras */
    --main-shadow: 10px 10px #071a5060;

    /* Cards */
    --card-radius: 15px;
    --card-padding: 15px;

    /* Colores de cards */
    --card-yellow-a: #f2d785;
    --card-yellow-b: #ce8d2d;

    --card-red-a: #ff7c48;
    --card-red-b: #ba2626;

    --card-blue-a: #57698e;
    --card-blue-b: #393459;

    --card-pink-a: #ffb091;
    --card-pink-b: #d34c41;

    --card-sky-a: #9ac8cb;
    --card-sky-b: #709aa3;

    --card-gray-a: #b7c3a3;
    --card-gray-b: #6d6e5e;

    --card-green-a: #8c9f80;
    --card-green-b: #5f856f;

    --card-purple-a: #918ac0;
    --card-purple-b: #57698e;
}

*{
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

html,body{
    min-height: 100%;
    width: 100%;
    margin: 0;
    color: var(--white);
}

html{
    background-color: var(--white);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 30px;
    overflow-x: hidden;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    min-height: 100vh;
    background-color: var(--red);
}

.fade-in{
    opacity: 1!important;
}

.container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

canvas{
    opacity: .2;
}

.logo{
    display: block;
    width: 432px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* social-networks */
.social-networks{
    display: flex;
    flex-wrap: wrap;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    max-width: 90vw;
}

.social-networks > *{
    display: grid;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

.social-networks > *:hover, .social-networks > *:active{
    transform: scale(1.1);
    filter: brightness(1.1);
}

.social-networks a{
    text-decoration: none;
    color: white;
}

.social-networks svg{
    width: 32px;
    height: 32px;
    fill: rgb(255,255,255);
}

.sections{
    display: grid;
    gap: 20px;
    width: 432px;
    margin-top: 20px;
}

.sections > .section{
    display: grid;
    gap: 10px;
}

.sections > .section > .title{
    font-family: 'Caveat', sans-serif;
    font-size: 2em;
}

.sections > .section > .card{
    position: relative;
    display: grid;
    padding: 10px 20px;
    align-items: center;
    height: 94px;
    border-radius: 8px;
    background-color: var(--overlay);
    background-repeat: no-repeat;
    background-clip: padding-box;
    overflow: hidden;
    border: 2px solid var(--overlay);
}

.sections > .section > .card.clickable{
    cursor: pointer;
}

.sections > .section > .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background-color: var(--overlay);
    overflow: hidden;
}


.sections > .section > .card  > .data {
    display: grid;
    justify-content: right;
    gap: 10px;
    z-index: 1;
}

.sections > .section > .card  > .data > .title{
    font-family: 'Caveat', sans-serif;
    text-align: right;
    font-size: 1.2em;
}

.sections > .section > .card  > .data > .icons{
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.sections > .section > .card  > .data > .icons > *{
    display: grid;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

.sections > .section > .card  > .data > .icons > *:hover, .sections > .section > .card  > .data > .icons > *:active{
    transform: scale(1.1);
    filter: brightness(1.1);
}

.sections > .section > .card  > .data > .icons a{
    text-decoration: none;
    color: white;
}

.sections > .section > .card  > .data > .icons svg{
    width: 24px;
    height: 29px;
    fill: rgb(255,255,255);
}

.footer {
    position: absolute;
    bottom: 20px;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100px;
    gap: 20px;
}

.footer > .humita-year{
    display: flex;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    font-size: 0.8em;
}

.footer > .humita-year::before {
    content: attr(data-content);
}

.footer > .humita-year::after {
    content: attr(data-year);
}

@media (max-width: 500px) {
    .social-networks{
        gap: 10px;
    }
}

@media (max-width: 472px) {
    .logo{
        width: 342px;
        height: 80px;
    }

    .sections{
        width: 342px;
    }

    .sections > .section > .card::before{
        content: '';
    }

    .social-networks{
        gap: 5px;
    }

    .social-networks svg{
        transform: scale(.8);
    }

    
}

@media (max-width: 370px) {
    .logo{
        width: 252px;
        height: 59px;
    }

    .sections{
        width: 300px;
    }
}

@keyframes cardShow {
    from{
        opacity: 0;
        transform: rotate(8deg) translate(100px,10px);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) translate(0px,0px);
    }
}

@keyframes cardShowReverse {
    from{
        opacity: 0;
        transform: rotate(-8deg) translate(-100px,-10px);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) translate(0px,0px);
    }
}

@media (max-width: 540px) {

    @keyframes cardShow {
        from{
            opacity: 0;
            transform: scale(.7) rotate(8deg) translate(100px,10px);
        }
        to{
            opacity: 1;
            transform: scale(.7) rotate(0deg) translate(0px,0px);
        }
    }

    @keyframes cardShowReverse {
        from{
            opacity: 0;
            transform: scale(.7) rotate(-8deg) translate(-100px,10px);
        }
        to{
            opacity: 1;
            transform: scale(.7) rotate(0deg) translate(0px,0px);
        }
    }
}

@media (max-width: 380px) {

    @keyframes cardShow {
        from{
            opacity: 0;
            transform: scale(.6) rotate(8deg) translate(100px,10px);
        }
        to{
            opacity: 1;
            transform: scale(.6) rotate(0deg) translate(0px,0px);
        }
    }

    @keyframes cardShowReverse {
        from{
            opacity: 0;
            transform: scale(.6) rotate(-8deg) translate(-100px,-10px);
        }
        to{
            opacity: 1;
            transform: scale(.6) rotate(0deg) translate(0px,0px);
        }
    }
}